.about-me__container {
    margin-top: 66px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .about-me__container {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .about-me__container {
        flex-direction: column-reverse;
        min-width: 292px;
        margin-top: 60px;
        margin-bottom: 70px;
        align-items: center;
    }
}