.page-not-found__link {
    margin: 0;
    color: rgba(66, 133, 244, 1);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 4ms;
    position: absolute;
    bottom: 60px;
    left: auto;
    right: auto;
}

.page-not-found__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1279px) {
    .page-not-found__link {
        position: static;
        margin-top: 184px;
    }
}

@media screen and (max-width: 767px) {
    .page-not-found__link {
        position: absolute;
        bottom: 30px;
        font-size: 12px;
    }
}