.profile__link {
    color: rgba(238, 52, 101, 1);
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 4ms;
}

.profile__link:hover {
    opacity: 0.7;
}