.portfolio__links {

    margin: 30px 70px 125px;
}

@media screen and (max-width: 1279px) {
    .portfolio__links {
        margin: 30px 50px 90px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio__links {
        margin: 20px 14px 70px;
    }
}