.header__menu-button {
    background-image: url('../../../images/menu-icon.svg');
    background-color: transparent;
    min-height: 44px;
    min-width: 44px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: opacity 4ms;
    display: none;
    padding: 0;
}

.header__menu-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1279px) {
    .header__menu-button {
        display: flex;
    }
}
