.card__delete-button {
    background-image: url('../../../images/delete-button.svg');
    background-color: rgba(34, 34, 34, 1);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    border: none;
    /* visibility: hidden;
    transition: visibility 4ms; */
}

/* .card__delete-button:hover {
    visibility: visible;
} */